<div class="container">

  <table class="table table-striped">
      <thead>
          <th>Id Role</th>
          <th>Tipo</th>
          <th>Código</th>
      </thead>
      <tbody>
          <tr *ngFor="let role of roles">
              <td>{{role.roleId}}</td>
              <td>{{role.roleName}}</td>
              <td>{{role.code}}</td>
              <td><button class="btn btn-danger" (click)="deleteRole(role)">Delete</button>
                  <button class="btn btn-primary" (click)="updateRole(role)">Edit</button></td>

          </tr>
      </tbody>
  </table>
  <button class="btn btn-primary" (click)="newRole()">New User</button>
</div>
